@use '../../app/styles/variables' as vars;
@use 'sass:map';

.about {
  @include vars.Container;
  margin-top: 80px;
  h3 {
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 400;
  }
  .about_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 23px;
    .about_item_step {
      background-color: map.get(vars.$colors, primary-text-white);
      padding: 20px 14px;
      text-align: center;
      border-radius: 20px;
      min-width: 221px;
      max-width: 498px;
      p {
        margin-bottom: 12px;
        color: map.get(vars.$colors, text-gray);
        font-weight: 300;
      }
    }
  }
}