@use '../../app/styles/variables' as vars;
@use 'sass:map';

.about {
  @include vars.Container;
  margin-top: 80px;

  h3 {
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 400;
  }

  /* DESKTOP GRID */
  .about_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 23px;
  }

  .about_item_step {
    background-color: map.get(vars.$colors, primary-text-white);
    padding: 20px 14px;
    text-align: center;
    border-radius: 20px;
    min-width: 221px;
    max-width: 498px;

    p {
      margin-bottom: 12px;
      color: map.get(vars.$colors, text-gray);
      font-weight: 300;
    }

    img {
      width: 100%;
      border-radius: 12px;
    }
  }

  /* MOBILE SWIPER container */
  .about_slider {
    display: none;
  }
}


/* ===== ⛔ Desktop: скрываем Swiper, показываем сетку ===== */
@media screen and (min-width: 768px) {
  .about {
    .about_slider {
      display: none;
    }

    .about_item {
      display: flex;
    }
  }
}


/* ===== 📱 Mobile: показываем Swiper, скрываем сетку ===== */
@media screen and (max-width: 480px) {
  .about {
    padding: 0 20px;
    .about_item {
      display: none;
    }

    .about_slider {
      display: block;

      .swiper-slide {
        width: 80%;
      }
    }
  }
  .about {
    margin-top: 40px !important;
    h3 {
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: 600;
    }
    .about_item_step {
      h3 {
        font-size: 20px;
      }
    }
  }
}