@use '../../../app/styles/variables' as vars;
@use 'sass:map';

.recommendation {
  @include vars.Container;

  margin-bottom: 30px !important;

  &__wrap {
    width: 100%;
  }

  &__title {
    font-size: 36px;
    font-weight: 400;
    color: map.get(vars.$colors, text-black);
    margin-bottom: 40px;
    margin-top: 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__loading,
  &__empty {
    text-align: center;
    color: var(--color-text-secondary);
    padding: 20px;
  }
}

// Адаптивность
@media (max-width: 768px) {
  .recommendation {
    padding: 0 20px;
    margin-top: 40px !important;

    &__title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }
}

:global(html[data-theme="dark"]) {
  .recommendation {
    &__title {
      color: var(--color-text-black);
    }
  }
}