@use '../../../../app/styles/variables' as vars;
@use 'sass:map';

.btn {
  font-family: vars.$font-family;
  border: 2px solid map.get(vars.$colors, border-btn);
  display: block;
  //max-width: 142px;
  width: 100%;
  color: map.get(vars.$colors, actual-blue);
  font-size: map.get(vars.$font-sizes, 'lg');
  box-sizing: border-box;
  background: none;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  &:hover {
    background: var(--color-filters-btn-hover);
  }
  &:active {
    background: var(--color-filters-btn-hover);
    transform: scale(0.97);
  }
}


@media screen and (max-width: 480px){
  .btn {
    max-width: 164px;
    width: 100%;
    font-size: 12px;
    &:hover {
      background: var(--color-filters-btn-hover);
    }
  }
}

:global(html[data-theme="dark"]) {
  .btn {
    color: var(--color-text-white);
    border-color: var(--color-border-btn);

    &:hover {
      background: var(--color-filters-btn-hover);
    }
  }
}