@use '../../app/styles/variables' as vars;
@use 'sass:map';

.category {
  @include vars.Container;
  margin: 80px auto;

  h3 {
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 400;
  }

  .category_item {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    justify-content: flex-start;

    .category_item_step {
      background-color: map.get(vars.$colors, primary-text-white);
      padding: 20px 14px;
      text-align: center;
      border-radius: 20px;
      min-width: 235px;
      flex: 1 1 235px;
      max-width: calc(25% - 23px);
      cursor: pointer;

      img {
        margin-bottom: 12px;
        max-width: 80px;
        max-height: 80px;
        height: 100%;
        object-fit: cover;
      }

      p {
        color: map.get(vars.$colors, text-black);
        font-weight: 300;
      }
    }

    .category_btn {
      margin: 29px auto;
    }
  }
}

@media screen and (max-width: 480px) {
  .category {
    padding: 0 20px;
    margin-top: 40px !important;

    h3 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .category_item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;

      .category_item_step {
        max-width: unset !important;
        min-width: unset !important;
      }
    }
  }
}