@use '../../app/styles/variables' as vars;
@use 'sass:map';

.category {
  @include vars.Container;
  margin: 80px auto;

  h3 {
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 400;
  }

  .category_item {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    justify-content: flex-start;

    .category_item_step {
      background-color: map.get(vars.$colors, primary-text-white);
      padding: 20px 14px;
      text-align: center;
      border-radius: 20px;
      min-width: 235px;
      flex: 1 1 calc(25% - 23px);
      max-width: calc(25% - 23px);
      cursor: pointer;
      box-sizing: border-box;

      img {
        margin-bottom: 12px;
        max-width: 80px;
        max-height: 80px;
        height: 100%;
        object-fit: cover;
        border-radius: 20%;
      }

      p {
        color: map.get(vars.$colors, text-black);
        font-weight: 300;
      }
    }
  }

  .category_btn_center {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
  }
}

// Планшеты и маленькие десктопы
@media screen and (max-width: 1024px) {
  .category {
    .category_item {
      .category_item_step {
        flex: 1 1 calc(33.333% - 23px);
        max-width: calc(33.333% - 23px);
      }
    }
  }
}

// Мобильные устройства
@media screen and (max-width: 768px) {
  .category {
    .category_item {
      .category_item_step {
        flex: 1 1 calc(50% - 23px);
        max-width: calc(50% - 23px);
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .category {
    padding: 0 20px;
    margin-top: 40px !important;
    margin-bottom: 30px !important;

    h3 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .category_item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;

      .category_item_step {
        max-width: unset !important;
        min-width: unset !important;
        flex: unset !important;
      }
    }

    .category_btn_center {
      margin-top: 20px;
    }
  }
}

// Очень маленькие мобильные устройства
@media screen and (max-width: 360px) {
  .category {
    .category_item {
      grid-template-columns: 1fr;
    }
  }
}