@use '../../../app/styles/variables' as vars;
@use 'sass:map';

.main {
  width: 100%;

  .searchResults {
    @include vars.Container;
    margin-top: 20px;


    &.withFilters {
      max-width: calc(100% - 400px);
      margin-left: auto;
      margin-right: 0;
    }

    &.withoutFilters {
      width: 100%;
    }

    .resultCard {
      width: 100%;
      //max-width: 1022px;
      min-height: 320px;
      background: map.get(vars.$colors, primary-text-white);
      border-radius: 20px;
      padding: 20px;
      margin-bottom: 16px;

      .resultHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
      }

      .description {
        margin-bottom: 16px;
        color: map.get(vars.$colors, text-placeholder);
      }

      .resultDetails {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 16px;
      }

      .resultFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .timeAgo {
          color: map.get(vars.$colors, text-placeholder);
        }
      }
    }
  }

  .performers {
    max-width: 1540px;
    margin: 80px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    .performers_orders,
    .performers_masters {
      flex: 1 1 45%;
      min-width: 600px;
      padding: 25px 26px;
      background-color: map.get(vars.$colors, primary-text-white);
      border-radius: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: auto;

      .performers_orders_welcome {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        flex: 1;

        .performers_orders_title {
          font-size: 36px;
          margin-bottom: 20px;
        }

        .performers_orders_about {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          max-width: 452px;
          width: 100%;
          font-size: 20px;
        }
      }
    }

    img {
      max-width: 255px;
      width: 100%;
      height: 305px;
      border-radius: 20px;
      object-fit: cover;
      margin-left: 15px;
    }
  }

  .searchMasters {
    display: flex;
    @include vars.Container;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;

    .searchMasters_item {
      flex: 1 1 calc(27% - 15px);
      max-width: 366px;
      min-width: 210px;
      min-height: 261px;
      background-color: map.get(vars.$colors, primary-text-white);
      padding: 20px 15.22px;
      border-radius: 20px;
      margin-bottom: 20px;
      text-align: center;

      img {
        margin-bottom: 12px;
      }

      .searchMasters_item_welc {
        margin-bottom: 12px;
      }

      .searchMasters_item_title {
        font-weight: 300;
        font-size: 16px;
        color: map.get(vars.$colors, text-placeholder);
        line-height: 100%;
      }
    }
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 30px 30px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.btnClose {
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
  background: none;
  border: none;
  svg {
    width: 18px;
  }
}