@use '../../app/styles/variables' as vars;
@use 'sass:map';

.recommendation {
  width: 100%;
  margin-top: 40px;

  &_wrap {
    @include vars.Container;
  }

  h3 {
    font-size: 36px;
    font-weight: 400;
    color: map.get(vars.$colors, text-black);
    margin-bottom: 32px;
    line-height: 36px;
    margin-top: 80px;
  }

  &_item {
    border-radius: 20px;
    padding: 40px;
    background: map.get(vars.$colors, background-primary);

    &_title {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 9px;

      h4 {
        font-size: 32px;
        font-weight: 600;
        color: #000;
        margin: 0;
        line-height: 1.3;
      }
    }
    &_price {
      font-size: 20px;
      font-weight: 500;
      color: map.get(vars.$colors, text-black);
      white-space: nowrap;
      margin-left: 12px;
      padding: 10px 20px;
      background-color: map.get(vars.$colors, color-stroke);
      border-radius: 10px;
    }

    &_status {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-bottom: 20px;
      padding: 10px 20px;
      background-color: map.get(vars.$colors, color-stroke);
      border-radius: 10px;
      min-width: 154px;
      max-width: 200px;
      width: 100%;

      svg {
        flex-shrink: 0;
      }

      p {
        font-size: 20px;
        color: map.get(vars.$colors, text-black);
        margin: 0;
      }
    }

    &_description {
      p {
        font-size: 24px;
        color: map.get(vars.$colors, text-black);
        margin: 0 0 20px 0;
      }
    }

    &_inform {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;
    }
    .recommendation_item_time {
      display: flex;
      width: 100%;
      justify-content: end;
      color: map.get(vars.$colors, text-placeholder);
    }

    &_locate {
      display: flex;
      align-items: center;
      gap: 6px;

      svg {
        flex-shrink: 0;
      }

      p {
        font-size: 20px;
        color: map.get(vars.$colors, text-black);
        margin: 0;
        font-weight: 400;
      }
    }

    &_who {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 8px;

      svg {
        flex-shrink: 0;
      }

      p {
        font-size: 20px;
        color: map.get(vars.$colors, text-who);
        margin: 0;
        line-height: 1.2;
      }
    }

  }
}

// Адаптивность для мобильных устройств
@media (max-width: 768px) {
  .recommendation {
    &_wrap {
      padding: 16px;
    }

    &_item {
      padding: 12px;

      &_title {
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;

        //span {
        //  margin-left: 0;
        //}
      }

      &_inform {
        flex-direction: column;
        gap: 8px;
      }
    }
  }
}

@media (max-width: 480px) {
  .recommendation {
    &_item {
      &_title {
        h4 {
          font-size: 15px;
        }

        //span {
        //  font-size: 13px;
        //}
      }

      &_status,
      &_description p {
        font-size: 13px;
      }

      &_locate,
      &_who {
        p {
          font-size: 11px;
        }
      }
    }
  }
}