@use '../../../app/styles/variables' as vars;
@use 'sass:map';

.main {
  width: 100%;

  .searchResults {
    @include vars.Container;
    margin-top: 20px;


    &.withFilters {
      max-width: calc(100% - 400px);
      margin-left: auto;
      margin-right: 0;
    }

    &.withoutFilters {
      width: 100%;
    }

    .resultCard {
      width: 100%;
      //max-width: 1022px;
      min-height: 320px;
      background: map.get(vars.$colors, primary-text-white);
      border-radius: 20px;
      padding: 20px;
      margin-bottom: 16px;

      .resultHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
      }

      .description {
        margin-bottom: 16px;
        color: map.get(vars.$colors, text-placeholder);
      }

      .resultDetails {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 16px;
      }

      .resultFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .timeAgo {
          color: map.get(vars.$colors, text-placeholder);
        }
      }
    }
  }

  .performers {
    max-width: 1250px;
    margin: 35px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    .performers_orders,
    .performers_masters {
      flex: 1 1 45%;
      min-width: 600px;
      padding: 25px 26px;
      background-color: map.get(vars.$colors, primary-text-white);
      border-radius: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: auto;

      .performers_orders_welcome {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        flex: 1;

        .performers_orders_title {
          font-size: 30px;
          margin-bottom: 20px;
        }

        .performers_orders_about {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          max-width: 452px;
          width: 100%;
          font-size: 20px;
        }
      }
    }

    img {
      max-width: 255px;
      width: 100%;
      height: 305px;
      border-radius: 20px;
      object-fit: cover;
      margin-left: 15px;
    }
  }

  .searchMasters {
    display: flex;
    @include vars.Container;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;

    .searchMasters_item {
      flex: 1 1 calc(27% - 15px);
      max-width: 366px;
      min-width: 210px;
      min-height: 261px;
      background-color: map.get(vars.$colors, primary-text-white);
      padding: 20px 15.22px;
      border-radius: 20px;
      margin-bottom: 20px;
      text-align: center;

      img {
        margin-bottom: 12px;
      }

      .searchMasters_item_welc {
        margin-bottom: 12px;
      }

      .searchMasters_item_title {
        font-weight: 300;
        font-size: 16px;
        color: map.get(vars.$colors, text-placeholder);
        line-height: 100%;
      }
    }
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-shadow-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: var(--color-background-primary);
  padding: 30px 30px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.btnClose {
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
  background: none;
  border: none;
  svg {
    width: 18px;
  }
}

.desktopGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 27px;
}

/* мобильный слайдер скрыт на ПК */
.mobileSlider {
  display: none;
}

@media screen and (max-width: 480px){
  .performers {
    padding: 20px;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
  .performers_orders {
    flex-direction: column-reverse !important;
    min-width: 334px !important;
    width: 100% !important;
    padding: 20px !important;

    img {
      width: 100% !important;
      margin-left: unset !important;
      max-width: 310px !important;
      max-height: 175px !important;
      margin-bottom: 10px;
    }

    .performers_orders_title {
      font-size: 20px !important;
      font-weight: 500;
      margin-bottom: 10px !important;
    }

    .performers_orders_about {
      font-size: 16px !important;
      font-weight: 300;
      margin-bottom: 20px !important;
    }
  }
  .desktopGrid {
    display: none;
  }

  .mobileSlider {
    display: block;
  }

  .searchMasters {
    display: block !important;
    padding: 0 20px;
  }

  .searchMasters_item img {
    width: 100%;
    border-radius: 10px;
  }

  .about {
    margin-top: 40px !important;
  }
}

:global(html[data-theme="dark"]) {
  .main {
    .searchResults .resultCard,
    .performers .performers_orders,
    .performers .performers_masters,
    .searchMasters .searchMasters_item {
      background: var(--color-background-primary);
    }
  }

  .modalContent {
    background: var(--color-background-primary);
  }
}

